html {
    background-image: url("spaceShip.avif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.picture {
    margin-left: 130px;
    width: 150px;
    height: 150px;
}

body {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

form {
    font-size: 16px;
    font-weight: 800;
}

fieldset {
    display: flex;
    border: none
}

.input-container {
    padding: 20px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    width: 225px;
    height: 30px;
    margin-left: -34px;
}

.input-container:focus {
    border-color: #0066ff;
}

button {
    color: white;
    font-weight: 800;
    font-family: 'Orbitron', sans-serif;;
    background-color: red;
    padding: 16px 24px;
    border-radius: 10px;
}

.content {
    margin-top: 30vh;
    margin-left: 45vw;
}

a {
    text-decoration: none;
    font-weight: 900;
    font-size: 20px;
    color: red;
}

